/** BODY **/
body {
	color: #fff;
	font-family: "Helvetica", "Arial",sans-serif;
	margin: 0px;
	padding: 0px;
}



/** MAIN APP **/
#topbar {
	position:absolute;
	left: 0px; top: 0px;
	width: 930px; height: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 5px;
	background: url("../images/gui/logo.png") left no-repeat;
}

#main_container {
	width: 1000px; height: 600px;
	background: url("../images/gui/background.jpg");
	position:absolute;
	top: 0px; left: 0px;
}




/** LEFT SIDEBAR **/
#sidebar {
	position:absolute;
	left: 10px; top:100px;
	width: 225px; height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	text-align: center;
}

h3.fan_count {

}

h3.fans {
text-transform: uppercase;
}




.main {
	display: none;
}

.active {
	display: block;
}

/* MAIN SCREEN */
.left-sidebar {
	position:absolute;
	left: 265px; top: 100px;
	width: 415px; height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	border: 1px solid #ddd;
	background: url("../images/gui/dark-trans-bg.png") repeat;
	
}

.puzzle_link {
	color: blue;
}

.puzzle_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.right-sidebar {
	position:absolute;
	left: 700px; top:100px;
	width: 240px; height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;		
	background: url("../images/gui/light-trans-bg.png") repeat;
	border: 1px solid #ddd;
	border-left: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}


/* PUZZLE SCREEN */
.log_entry {
	display: block;
}

/* BOTTOM BAR */
#bottombar {
	position:absolute;
	left: 25; top: 440px;
	width: 930px; height: 130px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 10px;
}
.team_div {
	margin: 5px;
	display: inline-block;
	position: relative;
}

#bottombar > .team_div:hover {
	cursor: pointer;
}
.team_div > .status {
	background: rgba(0,0,0,0.5);
	color: #000000;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; height: 50px;
	padding-top: 25px;
}

#bottombar > .team_div:hover {
	cursor: pointer;
}

/* TOOLTIP */
#tt {
 	position:absolute;
 	display:block;
 	background:url(images/tt_left.gif) top left no-repeat;
 	}
#tttop {
 	display:block;
 	height:5px;
 	margin-left:5px;
 	background:url(images/tt_top.gif) top right no-repeat;
 	overflow:hidden;
}
#ttcont {
	display:block;
 	padding:2px 12px 3px 7px;
 	margin-left:5px;
 	background:#666;
 	color:#fff;
}
#ttbot {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(images/tt_bottom.gif) top right no-repeat;
	overflow:hidden;
}

/* POPUP */
#popup_container {
	position:relative;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 10;
}

#popup_content {
	position:absolute;
	top: 50%; left: 50%;
	background-color: #FFFFFF;
	width: 500px;
	height: 300px;
	margin: -150px 0 0 -250px;
}

#close_popup {
	float: right;
}

/* DIV STYLING */
.title {
	width: 100%;
}

.content {
	clear:both;
	width: 100%;
}







