/** FONTS **/
@font-face {
	font-family: 'Orbitron';
	src: url('../fonts/Orbitron-Black.svg#Orbitron') format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.svg#Open&nbsp;Sans') format("svg");
	font-weight: normal;
	font-style: normal;
}


/** BODY **/
body {
	color: #fff;
	font-family: 'Open Sans';
	margin: 0px;
	padding: 0px;
}

ul {
list-style-type: square;
}

a {
color: #ddd;
}

a:hover {
color: #fff;
text-decoration: none;
}

button {
cursor:hand;
}

/** MAIN LAYOUT **/
#main_container {
	width: 1000px; height: 600px;
	background: url("../images/gui/background.jpg");
	position:absolute;
	top: 0px; left: 0px;
	}

/** TOP BAR **/
#topbar {
	position:absolute;
	left: 0px; top: 0px;
	width: 930px; height: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 68px;
	width: 100%;
	background: url("../images/gui/logo.png") 20 10 no-repeat;
}


/** LEFT USER SIDEBAR **/
#sidebar {
	position:absolute;
	left: 10px; top:80px;
	width: 225px; height: 335px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	text-align: center;
	font-family: 'Orbitron';
}

h3.fan_count {
	height: 5px;
}

h3.fans {
	text-transform: uppercase;
}

.main {
	display: none;
}

/* resources */
#sidebar #resources .resource_div {
	display: inline;
}

.resource_div.locked {
	opacity: 0.4;
}

.resource_img {
	margin: 2px;
}
/* NAVIGATION TABS */
#tabs {
	position:absolute;
	left: 265px; top: 80px;
	width: 689px; height: 25px;
	overflow-x: hidden;
	overflow-y: auto;
	background: url("../images/gui/border-bg.jpg") repeat-x;
	background-position:321px 23px;
}


ol#toc {
	height: 24px;
	list-style: none;
	margin: 0;
	padding: 0;
}

ol#toc a {
	color: #fff;
	display: block;
	float: left;
	height: 21px;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	text-decoration: none;
	width: 97px;
	font-family: 'Orbitron';
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ol#toc li {
	background: url("../images/gui/tab-bg.png");
	float: left;
	margin: 0px;
	text-align: center;
	width: 107px;
	padding: 0px;
}

ol#toc li.current  {
	background: url("../images/gui/current-tab-bg.png");
}

ol#toc li.current a {
	color: #fff;
}

ol#toc li.current span {
	margin: 0px;
	padding: 0px;
}

ol#toc span {
	background: url(tabs.gif) 100% 0;
	display: block;
	padding-right: 10px;
	margin: 0px;
	padding: 0px;
}


/* PATH */
#navigation-bar {
	position:absolute;
	left: 265px; top: 104px;
	width: 415px; height: 23px;
	padding: 10px;
	border-left: 1px solid #8c909b;
	border-right: 1px solid #8c909b;
	border-bottom: #8c909b 1px solid;
	overflow-x: hidden;
	overflow-y: auto;
	background:rgba(19,19,22, 0.5);
}

#backbutton {
	float: left;
	margin-right: 4px;
	width: 30px;
	height: 23px;
}

#path {
	float: left;
	background: url("../images/gui/path-bg.png") right;
	width: 371px;
	height: 21px;
	padding-left: 10px;
	padding-top: 2px;
	font-family: 'Open Sans';
	font-size: .8em;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
}

/*  MAIN CONTENT AREA */
#main .left-sidebar .content{
	position:absolute;
	left: 265px; top: 148px;
	width: 415px; height: 269px;
	overflow: auto;
	padding: 10px;	
	border-bottom: #8c909b solid 1px;
	border-left: #8c909b solid 1px;
	border-right: #8c909b solid 1px;
	background:rgba(19,19,22, 0.4);
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
background:rgba(255,255,255, 0.2);
}
 
::-webkit-scrollbar-thumb {
background:rgba(255,255,255, 0.2);
}


/* RIGHT SIDEBAR */
#main .right-sidebar {
	position:absolute;
	left: 700px; top:103px;
	width: 245px; height: 323px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 5px 0px 10px;		
	background:rgba(255,255,255, 0.2);
	border: 1px solid #8c909b;
	border-left: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.right-sidebar #return_message {
padding: 2px 4px 1px 4px;
font-size: .7em;
color: #fff;
background: rgba(255,0,0, 0.5);
border-radius: 5px;
display: inline-block;
width: 225px;
height: 20px;
margin-top: 3px;
margin-bottom: 3px;
overflow: hidden;

}


#right_sidebar_content {
height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}

#right_sidebar_content_puzzle {
height: 269px;
}

.hidden {
visibility: hidden;
}


.answer_box {

}

.puzzle_row {
	dislay: block;
}

.puzzle_link {
	color: white;
}

.puzzle_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* PUZZLE SCREEN */
.log_entry {
	display: block;
}

/* TAB DIVS */
.tab {
	display: none;
}

/* HISTORY PAGE */
#history {
	position:absolute;
	left: 265px; top: 103px;
	width: 674px; height: 313px;
	overflow: auto;
	padding: 10px;	
	border-bottom: #8c909b solid 1px;
	border-left: #8c909b solid 1px;
	border-right: #8c909b solid 1px;
	background:rgba(19,19,22, 0.4);
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#history .log-item {
	display: block;
	background:rgba(255,255,255, 0.2);
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 3px 5px;
}

#history .log-item .timestamp {
	margin-right: 5px;
}

h4.timestamp {
	font-size: 1em;
	margin: 0px !important;
}

p.msg {
margin: 0px;
}


/* INFO PAGE */
#info .left-sidebar .content{
	position:absolute;
	left: 265px; top: 103px;
	width: 415px; height: 313px;
	overflow: auto;
	padding: 10px;	
	border-bottom: #8c909b solid 1px;
	border-left: #8c909b solid 1px;
	border-right: #8c909b solid 1px;
	background:rgba(19,19,22, 0.4);
}

#info .right-sidebar {
	position:absolute;
	left: 700px; top:103px;
	width: 245px; height: 323px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 5px 0px 10px;		
	background:rgba(255,255,255, 0.2);
	border: 1px solid #8c909b;
	border-left: none;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#info .right_sidebar .content {
height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}

h3.section-name {
margin: 0px;
padding: 0px;
}

/* BOTTOM BAR */
#bottombar {
	position:absolute;
	left: 40; top: 435px;
	width: 900px; height: 145px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 10px;
}
.team_div {
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	text-align: center;
}

#bottombar > .team_div:hover {
	cursor: pointer;
}
.team_div > .status {
	background: rgba(0,0,0,0.5);
	color: #000000;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; height: 50px;
	padding-top: 25px;
}

#bottombar > .team_div:hover {
	cursor: pointer;
}

/* TOOLTIP */
#tt {
 	position:absolute;
 	display:block;
 	background:url(images/tt_left.gif) top left no-repeat;
 	}
#tttop {
 	display:block;
 	height:5px;
 	margin-left:5px;
 	background:url(images/tt_top.gif) top right no-repeat;
 	overflow:hidden;
}
#ttcont {
	display:block;
 	padding:2px 12px 3px 7px;
 	margin-left:5px;
 	background:#666;
 	color:#fff;
}
#ttbot {
	display:block;
	height:5px;
	margin-left:5px;
	background:url(images/tt_bottom.gif) top right no-repeat;
	overflow:hidden;
}

/* POPUP */
#popup_container {
	position:relative;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 10;
}

#popup_content {
	position:absolute;
	top: 50%; left: 50%;
	background-color: #FFFFFF;
	width: 500px;
	height: 300px;
	margin: -150px 0 0 -250px;
	color: #000;
	padding: 10px;		
	background:rgba(255,255,255, 0.9);
	border: 1px solid #8c909b;
	border-radius: 10px;
}

#close_popup {
	float: right;
}

/* ALERT */
#alert_container {
	position:relative;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	z-index: 10;
}

#alert_content {
	position:absolute;
	top: 50%; left: 50%;
	background-color: #FFFFFF;
	width: 600px;
	height: 400px;
	margin: -200px 0 0 -300px;
	color: #000;
	padding: 10px;		
	background:rgba(255,200,200,0.9);
	border: 1px solid #8c909b;
	border-radius: 10px;
}

#close_alert {
	float: right;
}

/* DIV STYLING */
.title {
	width: 100%;
}

.content {
	clear:both;
	width: 100%;
}


.hint_name {
font-family: 'Orbitron';
font-size: 1em;
margin-bottom: 0px;
padding-bottom: 0px;
}

.puzzle_data {
font-family: 'Orbitron';
font-size: .9em;
letter-spacing: 2px;
margin-bottom: 10px;
}

#hint_button {
}

h2.puzzle_title {
font-family: 'Orbitron';
font-size: 1.1em;
margin-bottom: 0px;
margin-top: 0px;
padding-top: 0px;
padding-bottom: 0px;
letter-spacing: 2px;
}

button {
background:rgba(255,255,255, 0.2);
color: #fff;
border: 1px solid #fff;
font-family: 'Electrolize', sans-serif;
font-size: 1em;
letter-spacing: 1px;
-webkit-appearance: none;
border-radius: 3px;
}

button:hover {
background: #222;
color: #fff;
}

.log {
height: 200px;
overflow: auto;
}

.log_entry {
	background:rgba(255,255,255, 0.2);
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 3px 5px;
	width: 220px;
	font-size: .8em;
}

.log_time {
}

.log_content {

}

.giveup_button {
margin-top: 30px;
margin-bottom: 10px;
}

#start_code_box, #answer_box {
clear: both;
}

#start_button, .answer_button {
padding: 0px;
}

/* LOCATION INFORMATION */
h3.location-name {
margin: 0px;
padding: 0px;
}

table.location-info {
width: 100%;
font-size: .9em;
}

td.location-status {
text-align: right;
}

.location-address {
font-size: .8em;
margin: -3px 0px 10px 0px;
padding: 0px;
line-height: 15px;
}

h4.location-header {
margin: 0px;
font-size: .9em;
border-bottom: 1px #ccc solid;
}

ul.location-restaurant-list {
margin-top: 0px;
font-size: .8em;
padding-left: 23px;
}




/* MISC */
.active {
	display: block;
}

.clickable {
	color: #CCC;
	text-decoration: underline;
}

.clickable:hover {
	text-decoration: none;
	cursor: hand;
}

.return-button {
text-align: center;
}

.return-button button {
position: relative;
top: 20px;
text-align: center;
color: #fff;
text-decoration: none;
}

/* TOOLTIP */
#tt {
 position:absolute;
 display:block;
 background:url(images/tt_left.gif) top left no-repeat;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 background:url(images/tt_top.gif) top right no-repeat;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px; 
margin-left:5px;  
overflow:hidden;
}