body {
	text-shadow: 0px 0px 6px #fff;
}


.content, .right-sidebar div, #stats, #icon, #resources, #history, #path, .toast-message, .team_div, #topbar, #toc li  {
  -webkit-transform:rotateY(180deg);
}



#main_container {
	background: url("../images/gui/background-tj.gif");
}

#topbar {
	background: url("../images/gui/logo-tj.png") 20 10 no-repeat;
}